@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #ffffff;
  color: #111827;
  font-family: Inter, sans-serif;
}

* {
  box-sizing: border-box;
}

section {
  padding: 7rem 1.5rem;
}

.container {
  max-width: 1200px;
  margin: auto;
}